

@{
    ViewData["Title"] = "Index";
}
<html>
<body>

    <style>
        {
            box-sizing: border-box;
        }
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        input[type=number], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        .pic {
            border-radius: 5px;
            padding: 20px;
            margin-left: 20px;
            width: 50px;
            height: 500px;
            float: left;

        }

        .container1 {
            width: 100%;
            display: flex;
            padding-left: 10px;
        }

        @* .col-25 {
            float: left;
            width: 70%;
            margin-top: 1px;
        }
*@


        /* Clear floats after the columns */


    </style>

    @*  <div class="container1">
        alert("Hamza is at wrong place")*@

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Capture Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id="video" width="400" height="400" autoplay></video>
                    @* <canvas id="canvas" width="400" height="400"></canvas>*@
                    <button type="button" class="btn btn-primary" id="click-photo" data-dismiss="modal">Click Photo</button>
                </div>

            </div>
        </div>
    </div>
    <h4> ADD VISITOR DATA</h4>
    <div class="row" style="width: 55%;height:400px;float:left !important">

        <div class="col">

            <div class="form-outline mb-4">
                
                <input type="email" id="name" class="form-control form-control-lg"
                       placeholder="Enter Name" />

            </div>


            <div class="form-outline mb-3">
                <input type="password" id="phone" class="form-control form-control-lg"
                       placeholder="Enter Phone Number" />

            </div>
            <div class="form-outline mb-4">
                <input type="email" id="cnic" class="form-control form-control-lg"
                       placeholder="Enter CNIC NUMBER" />
               @* <button> Take Cnic Photo </button>*@

            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Destination</label>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="d_admin" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="d_director" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Deputy Director</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="d_datacell" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Data Cell</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="d_datacell" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Finance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="d_datacell" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Director Office</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="d_datacell" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Sir Shahid faculty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="d_datacell" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Sir Umer faculty</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="d_datacell" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Sir Zahid faculty</a>
                    </li>
                </ul>
            </div>
            <div class="row">

                @* <button id="start-camera" type="button" class="btn btn-primary">Start Camera</button>*@

                <div class="col">
                    <button id="start-camera" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                        TAKE PICTURE
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" style="width:400px !important" onclick="submit()">Save</button>
                </div>


            </div>
        </div>
    </div>
    <div style="width:40%;height:400%;float:left" class="canvas">
        <div style="width:10%; float:left;margin-left:20px">
            <canvas id="canvas" width="100" height="150"></canvas>
        </div>
        <div style="width:15%; float:left;margin-left:60px">
            <canvas id="canvas1" width="100" height="150"></canvas>
        </div>
        <div style="width:15%; float:left;margin-left:60px">
            <canvas id="canvas2" width="100" height="150"></canvas>
        </div>

    </div>
</body>
</html>
<script>
    const main1 = document.querySelector('.canvas');
    let image_data_url = ""
    let image2 = ''
    let image3 = ''
    function load() {
        debugger;

    }
    async function submit() {
        debugger
        
        var phone = document.getElementById("phone").value
        var name = document.getElementById("name").value
        var cnic = document.getElementById("cnic").value
        var destination = document.getElementById("d_admin").ariaSelected ? "Admin" : document.getElementById("d_director").ariaSelected ? "Director" : "Data Cell"
        const response = await fetch("http://127.0.0.1:1234/insert", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },

            body: JSON.stringify({
                cnic: cnic,
                destination: destination,
                name: name,
                phone: phone,
                date: new Date(),
                time: new Date().toLocaleTimeString(),
                image: image_data_url

            })
        });

        response.json().then(data => {
            console.log(data);
            alert(JSON.stringify(data))
        });

    }
    let camera_button = document.querySelector("#start-camera");
    let video = document.querySelector("#video");
    let click_button = document.querySelector("#click-photo");
    let canvas = document.querySelector("#canvas");
    let canvas1 = document.querySelector("#canvas1");
    let canvas2 = document.querySelector("#canvas2");
    camera_button.addEventListener('click', async function () {
        debugger;
        let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
        video.srcObject = stream;
    });

    click_button.addEventListener('click', function () {
        debugger;
        if (image_data_url == '' || !image_data_url) {
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            image_data_url = canvas.toDataURL('image/jpeg');
        }
        else if (image_data_url && !image2) {
            canvas1.getContext('2d').drawImage(video, 0, 0, canvas1.width, canvas1.height);
            image2=canvas1.toDataURL('image/jpeg');
        }
        else {
            canvas2.getContext('2d').drawImage(video, 0, 0, canvas2.width, canvas2.height);
            image3 = canvas2.toDataURL('image/jpeg');
        }
       

        //  await navigator.mediaDevices.getUserMedia({ video: false, audio: false });
       @* video.srcObject = null;
        console.log("Vid off");
        // data url of the image
        console.log(image_data_url);*@
    });
</script>

